@media screen and (min-width: 600px) and (max-width: 1200px) {
    .box-1 {
        width: 10vh;
        height: 7vh;
    }

    .section-article-1 {
        display: flex;
        flex-direction: revert;
        align-items: flex-end;
    }

    .box-2 {
        width: 22.7vw;
        height: 42vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text1{
        transform: rotate(-90deg);
        font-size: 50px;

    }
    footer{
        margin-top: 20px;
    }
    .text3{
        font-size: 50px;
    }
}