@media screen and (max-width: 600px){
    header{
        height: 100%;
        width: 100%;
        border-radius: 30px;
    }
    main{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 70%;
    }
    .box-1{
        height: 70vh;
        width: 100%;
        margin-bottom: 10px;
        border-radius: 30px;
    }
    .box-2{
        height: 20%;
        width: 100%;
        border-radius: 30px;
    }
}